
.header{
  color: black;
  background-color: #26d0c9;
  height:200px;
}

.header-list li{
  padding: 30px 40px 5px 40px;
  list-style: none;
  float:left;
  border-bottom: 3px solid white;
}

.main-b{
  height:600px;
}
.main{
  height:500px;

}
.image{
  padding:20px;
  border: 2px solid #dee7ec;
  float:left;
  margin-top:60px;
  margin-left:90px;
}
.contents-list p{
  font-size: 18px;
  margin-top:5px;
  margin-left:40px;


}
img{
  height:180px;
  width:150px;

}
input,textarea{
  margin-top:5px;
  margin-bottom:5px;
  padding :15px;
  font-size:10px;
  border:1px solid #dee7ec;
}

.footer{
  height:200px;
  color: white;
  background-color:#2f5167;
}

.footer-list {
  float:right;
  margin-right: 10px;
}
